<h1>Destroyboredom Rails Blog</h1>
<% @posts.each do |post| %>
	<% if post.photo? %>
		<p><%= post.created_at.strftime("%b %d, %Y") %></p>
		<h2><%= link_to post.title, post %></h2>
		<p><%= post.body %></p>
		<div id="photo">
			<%= image_tag post.photo(:medium) %>
		</div>
		<br>
	<% else %>
		<p><%= post.created_at.strftime("%b %d, %Y") %></p>
		<h2><%= link_to post.title, post %></h2>
		<p><%= post.body %></p>
		<br>
	<% end %>
<% end %>
<%= will_paginate @posts %>
<% if user_signed_in? %>
	<%= link_to "New post", new_post_path %>
	<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% else %>
	<%=  link_to "Sign In", new_user_session_path %>
<% end %>