<% @posts.each do |post| %>
	<% if post.photo? %>
		<p><%= post.created_at.strftime("%b %d, %Y") %></p>
		<h2><%= link_to post.title, post %></h2>
		<p><%= markdown post.body %></p>
		<div id="photo">
			<%= image_tag post.photo(:medium) %>
		</div>
		<br>
	<% else %>
		<p><%= post.created_at.strftime("%b %d, %Y") %></p>
		<h2><%= link_to post.title, post %></h2>
		<p><%= markdown post.body %></p>
		<br>
	<% end %>
<% end %>
<div class="wrapper">
    <div class="button_wrapper">
      <% if user_signed_in? %>
        <%= link_to "New post", new_post_path, class: "button" %>
      <% end %>
    </div>
  </div>
<%= will_paginate @posts %>