<h2><%= @post.title %></h2>
  <div id="content">
	 <%= markdown(@post.body) %>
  </div>
		<% if @post.photo? %>
			<div id="photo">
				<%= image_tag @post.photo(:medium) %>
			</div>
		<% end %>
  <br>
<div class="button_wrapper">
  <% if user_signed_in? %>
   <%= link_to 'Edit', edit_post_path(@post), class: "button" %>
   <%= link_to 'Delete', post_path(@post), method: :delete, class: "button" %>
  <% end %>
</div>