<!DOCTYPE html>
<html>
<head>
  <title>Destroyboredom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/search' %>
<%= link_to "Destroyboredom", root_path %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% elsif alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to "New post", new_post_path %>
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%=  link_to "Sign In", new_user_session_path %>
<% end %>

<%= yield %>
<br>
<br>
<i class="fa fa-github"></i> | <i class="fa fa-twitter"></i>
</body>
</html>
